%section#home
  .background
    .jumbotron.foreground
      #jumboimagecontainer
        #jumboimage
          =image_tag "bostonroots_logo_orange.png"
      #jumbotext
        %h1 
          We are 
          %span{style: "font-weight: bold"} Boston Roots,
          a Nonprofit College Access Initiative.
        #jumboarrow
          = evil_icon 'ei-arrow-down', size: :l, class: "home-icon"

%section#facts
  .notebook
    .fact
      %p
        Because higher education is a
        %b right.
    / .fact
    /   %h2
    /     38 mins
    /   #clock
    /     = embedded_svg "clock_icon.svg"
    /   %p 
    /     Minutes the average student receives from their public school guidance department cross 4 years.
    / .fact 
    /   %h2
    /     472 to 1
    /   #people
    /   - 0.upto(200) do |_|
    /     #person
    /       = embedded_svg "person.svg"
#premission
%section#mission_lite
  .background
    .filter#missionfilter.foreground
      #missionheader.header
        %h1 Mission
      #missionbody.notebook
        .card#missioncard
          #missioncardbody
            %h2 Mission Statement
            %p
              Boston Roots is a nonprofit organization that seeks to shrink the opportunity gap in our country by empowering students to succeed throughout high school and the college admissions process.
          %p#missioncardfooter
            = link_to "Learn more...", mission_path
        .card
          %h2 Student Guidance
          %p Lack of access to college counseling services, financial information, and SAT/ACT prep courses can be major setbacks to students applying to college. Boston Roots provides guidance and college prep services at no cost to high school students and their families. Every high schooler in our program is put in touch with a trained university student mentor who regularly meets and interacts with them throughout their high school years.
        .card
          %h2 Fostering Connections
          %p Boston Roots firmly believes that parent involvement contributes to a higher degree of student success. As a result, our program works with parents to give their children greater support through parent seminars. Topics include student progress, financial saving information, and support strategies to motivate students. Moreover, we intend to connect students with third party SAT/ACT tutors and financial experts for extra support when it is needed.
      .notebook
        = link_to "JOIN US", contacts_path, :class => "button btn btn-join", :id => "bigjoin"

