.major_wrapper
  %section#home
    .background
      .jumbotron.foreground
        #jumboimagecontainer
          #jumboimage
            =image_tag "bostonroots_log_new.png"
        #jumbotext
          %h1 Find your roots with Boston Roots!
          %p
            Because Higher education is a
            %b right.
          %button.btn.btn-primary
            =link_to "Get Involved", "#contact", :style => "text-decoration: none"

  %section#timeline
    .header
      %h1 Our Timeline
  %section#mission
    .filter#missionfilter.foreground
      #missionheader.header
        %h1 Our Mission
      #missionbody.notebook
        .card
          %h2 Mission Statement
          %p Boston Roots is a nonprofit organization that seeks to shrink the opportunity gap in our country by empowering students to succeed throughout high school and the college admissions process.
        .card
          %h2 Student Guidance
          %p Lack of access to college counseling services, financial information, and SAT/ACT prep courses can be major setbacks to students applying to college. Boston Roots provides guidance and college prep services at no cost to high school students and their families. Every high schooler in our program is put in touch with a trained university student mentor who regularly meets and interacts with them throughout their high school years.
        .card
          %h2 Fostering Connections
          %p Boston Roots firmly believes that parent involvement contributes to a higher degree of student success. As a result, our program works with parents to give their children greater support through parent seminars. Topics include student progress, financial saving information, and support strategies to motivate students. Moreover, we intend to connect students with third party SAT/ACT tutors and financial experts for extra support when it is needed.
  %section#team
    #teamheader.header
      %h1 Our Team
    #teambody.notebook
      .profile_table
        - @teamMembers.each_with_index do |member, index|
          .long-shadow.profile.col-xs-12.col-sm-3{ name: member.name, pos: member.position, bio: member.bio}
            - if member.path.blank?
              =image_tag "default_profile.jpg"
            - else
              =image_tag "#{member.path}"

  %section#contact
  %section#footer
