.major_wrapper
  %section#home
    .background
      .jumbotron.foreground
        #jumboimagecontainer
          #jumboimage
            =image_tag "bostonroots_log_new.png"
        #jumbotext
          %h1 Find your roots with Boston Roots!
          %p
            Because Higher education is a
            %b right.
          %button.btn.btn-primary
            =link_to "Get Involved", "#contact", :style => "text-decoration: none"
        .fa.fa-arrow-circle-down

  %section#timeline
    .header
      %h1 Our Timeline
  %section#mission
    .filter#missionfilter.foreground
      #missionheader.header
        %h1 Our Mission
      #missionbody.notebook
        .card
          %h2 Nonprofit
          %p Boston Roots is a nonprofit organization that seeks to shrink the opportunity gap in our country by empowering students to succeed through the college admissions process and beyond. We work with Boston Public School students from underserved districts, that face high barriers to success.
        .card
          %h2 Guide
          %p Lack of access to college counseling services, financial information, and SAT/ACT prep courses are only part of the setbacks that so many students face. Boston Roots seeks to provide guidance and college prep services at no cost to students motivated to succeed.
        .card
          %h2 Connection
          %p This is done by connecting students to 3rd party counselors and financial providers. Unlike other college access program, Boston Roots firmly believes that parent involvement contributes to a higher degree of student success. As a result, our program works with parents to give their children greater support through parent seminars. Topics include student progress, financial saving information, and support strategies to motivate students.
  %section#team
    #teamheader.header
      %h1 Our Team
    #teambody.notebook
      .profile_table
      - @teamMembers.each do |member|
        .profile_wrapper
          .card.profile
            .profile_pic.hidden-xs.col-sm-3
              - if member.path.blank?
                =image_tag "default_profile.jpg"
              - else
                =image_tag "#{member.path}"
            .profile_text_wrapper.col-xs-12.col-sm-8.col-sm-offset-1
              .profile_text
                .profile_header
                  %h2= member.name
                  %h4= member.position
                .profile_body
                  %p= member.bio

  %section#contact
  %section#footer
