%section#mission.first_section
    .header
        .header_text
            %h1 Mission
            #mission_intro
                %p
                    Boston Roots is a nonprofit organization that seeks to shrink the opportunity gap in our country by empowering students to succeed throughout high school and the college admissions process.
    .notebook
        #mission_body
            #para1
                .subheader
                    %h2 The Problem
                .tab_schools
                    .col#private_schools
                        .col_header Private School
                        .col_body
                            The environment is specifically catered to students from Day 1. College counselors strive to work with their students from Freshmen year to meet their individual academic goals. Private school students are usually better prepared when it comes to the application phase because their counselors guide them through every phase.
                    .col#public_schools
                        .col_header Public School
                        .col_body
                            The environment is a “one size fits all.” Most public school students rarely work with their school counselors before the latter half of junior year or beginning of senior year. Counselors focus on getting students into a college rather than actually finding the right fit for their students because of the sheer number of students they have to work with. 

                .conclusion
                    %p
                        Public school students are usually less prepared for the application phase because they have fewer resources to rely on.
            .sep
            #para2
                .subheader
                    %h2 
                        Our Solution: 
                        %span{style: "font-weight: bold"}
                            Boston Roots Membership Program
                %p
                    The Boston Roots mentorship program is designed to partner our students with an experienced mentor who can guide them throughout their remaining two years in high school. They provide students with the tools they need to succeed with the college application phase. It’s important to remember that our mentors were once students going through the exact same process, which is why they are in a perfect position to guide others facing the same task. As our students learn from our mentors, they collect priceless information not only on the college app but also what it takes to succeed in a university atmosphere. 
            .sep
            #para3
                .subheader
                    %h2 How?
                %p Our mentors will:
                .conclusion
                    %ol
                        %li	Help students develop their extracurricular interests.
                        %li	Build an impressive college profile for applications.
                        %li	Advise students on their academic goals.
                        %li	Guide students throughout the college application.
                %p 
                    Interested in participating? Contact us now and
                    = link_to "join us.", contacts_path
