%section#timeline.first_section
  .header
    %h1
      Timeline
  %ul.timeline
    %li.timeline-date
      %h4 January 2015
    %li.timeline-component
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Idea Formed
    %li.timeline-component.timeline-inverted
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Team Gathered
    %li.timeline-component
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Non-profit status acquired
    %li.timeline-date
      %h4 January 2016
    %li.timeline-inverted.timeline-component
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Highschool student outreach

    %li.timeline-component
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Mentor Recruitement

    %li.timeline-inverted.timeline-component
      .timeline-badge
        %a
          %p
            &#x25CF;
      .timeline-panel.card
        .timeline-heading
          %h4 Pilot Program Launch

    %li.clearfix.no-float
    %li.timeline-date
      %h4 January 2017