// FILE FOR GLOBAL VARIABLES

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

// COLORING

$color_alpha: 0.7;
$min-width: 330px;
$bg_format: "jpg";

$main_color: rgb(05, 56,  66);
$ui-color:   rgb(122, 193, 111);
$sec_color:  rgb(242,241,239);
$thi_color:  rgb(162,171, 88);
$grey_color: rgb(85,98,112);
$call-to-action: rgb(97, 172, 251);
$text-color: rgb(66, 66, 66);

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@mixin clearfix {
  overflow: auto;
  zoom:     1;
}

@mixin clearspc {
  margin: 0;
  padding: 0;
}

@mixin short-shadow {
  box-shadow: 1px 1px 2px black;
}

@mixin import_dynamic_image($root, $hd: false) {

  @if $hd {
    @media
    only screen and (min-resolution: 192dpi) and (max-width: $screen-sm-max),
    only screen and (min-resolution: 2dppx)  and (max-width: $screen-sm-max) {
      background-image: image-url($root + "_small_hd." + $bg_format);
    }

    @media
    only screen and (min-resolution: 192dpi) and (min-width: $screen-md-min) and (max-width: $screen-md-max),
    only screen and (min-resolution: 2dppx)  and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      background-image: image-url($root + "_medium_hd." + $bg_format);
    }

    @media
    only screen and (min-resolution: 192dpi) and (min-width: $screen-lg-min),
    only screen and (min-resolution: 2dppx)  and (min-width: $screen-lg-min) {
      background-image: image-url($root + "_large=_hd." + $bg_format);
    }
  }

  @media only screen and (max-width: $screen-sm-max) {
    background-image: image-url($root + "_small." + $bg_format);
  }

  @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    background-image: image-url($root + "_medium." + $bg_format);
  }

  @media only screen and (min-width: $screen-lg-min) {
    background-image: image-url($root + "_large." + $bg_format);
  }



}

* {
  font-family: $font;
}

body {
  font-size:   18px;
  max-width:   100%;
  font-family: $font;
  @include clearspc;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;

  &:hover {
    color:inherit;
  }
}

h1 {
  font-size: 2em;
  color: $sec_color;
}

// NAVBAR

nav {
  padding: 0.5em 0.5em;
  background: transparent;
  box-shadow: none;
  @include clearfix;
  @media only screen and (min-width: $screen-sm-min) {
    padding: 1.5em 3em;
  }


  a {
    color: $main_color;
    background-color: transparent;

    &:hover {
      color: $sec_color;
      background-color: rgba($main_color, 0.4) !important;
    }

    &:active {
      color: $sec_color;
      background-color: rgba($main_color, 0.4) !important;
    }

  }

  .navbar-brand {
    display: none;
    text-align: left;
    margin-left: 0;
    padding-left: 0;

    img {
      width: 200px;
      height: auto;
      transform: translateY(-40%);
    }

  }


  .active a, .navbar-nav a {
    font-size: 1.75rem;
  }

  .active a {
    background-color: $main_color ! important;
  }

}

.card.right {
  text-align: right;
}

.card {
  color: $text-color;
  min-width: 50px;
  min-height: 100px;
  margin-bottom: 2rem;
  @include short-shadow;
  background-color: $sec_color;
  padding: 5%;

  h2 {
    margin-top: 0;
    margin-bottom: 1em;
  }

}

.foreground {
  min-width: $min-width;
}


/* Area where there will be the majority of text */
.notebook {
  min-width: $min-width * 0.8;
  max-width: $screen-sm-max;
  margin: auto;
}

.btn {
  padding: 1em 2em;
  border-radius: 4px;
  background-color: $call-to-action;
}
