// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../base/globals.scss";

/*
  Home
*/

$home_background_root: "college_template_photo";
$mission_background_root: "graduation_caps";


#home {
  color: $sec_color;
  min-height: 100vh;

  .background {
    @include import_dynamic_image($home_background_root, true);
    background-size: 100% 100%;
  }

}

.jumbotron {
  width: 100vw;
  position: relative;
  z-index: 1;
  height: 100%;
  margin: 0;
  color:  #f2f1ef;
  background-color: rgba($text_color, 0.5) ! important;
  padding-right: 7%;
  padding-left: 7%;
  display: table;
}

#jumboimagecontainer {
  display: table-row;
  vertical-align: middle;
}

#jumboimage {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 500px;
    max-height: 45vh;
  }

}

#jumbotext {
  display: table-row;
  vertical-align: middle;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }

  p {
    margin-bottom: 1em;
  }

  b {
    font-size: inherit;
  }

}

#timeline {
  background-color: $grey_color;
  display: table;

  .header {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;

    h1 {
      font-size:  5em;
      font-color: $grey_color;
    }
  }
}

#mission {
  color: $sec_color;
  background-size: 100% 100%;

  min-height: 100vh;
  height: auto;
  @include clearspc;
  @include import_dynamic_image($mission_background_root);

  .filter {
    padding: 4% 10%;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgba($grey_color, 0.5);
    display: block;
    position: relative;

    #missionbody {
      @media only screen and (min-width: $screen-sm-max) {
        display: flex;
      }
    }

    .card {
      width: 100%;
      @media only screen and (min-width: $screen-sm-max) {
        flex: 1;
      }
    }

  }

}




#team {
  background-color: $sec_color;

  height: auto;
  @include clearspc;
  padding: 4% 10%;

  h1 {
    color: $text-color;
    margin-bottom: 1em;
    text-align: center;
  }

  .profile_table {
    display: table;
    height: auto;
  }

  .profile {
    @include clearspc;
    overflow: hidden;
    margin: 5%;
    width: 90%;
    height: auto;
    @include makeSqr(width);

    @media only screen and (min-width: $screen-sm-min) {
      width: 30%;
      margin: 1.5%;
    }

    img {
      width: 100%;
      height: 100%;
    }

  }



}

#contact {
  background-color: rgb(81, 99, 157);
}

#footer {
  background-color: #556270;
  height: 20%;
  width: 100%;
  display: table;

  .notebook {
    display: table-cell;
    vertical-align: middle;
    p {
      color: $sec_color;
      text-align: center;
    }

  }

}


@media only screen and (min-width: $screen-sm-min) {
  .jumbotron {
    #jumboimagecontainer {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      #jumboimage {
        width: 70%;
        height: auto;
      }
    }

    #jumbotext {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }

  }
}
