
#team {
  background-color: $white_color;
  height: auto;
  min-height: 70vh;

  .profile_table {
    height: auto;
    text-align: center;
  }

  .profile_row {
    width: 100%;
    @media only screen and (min-width: $screen-sm-min) {
      display: flex;
      padding: 1rem;
    }
  }

  @media only screen and (min-width: $screen-sm-min) {
    .side0 {
      float: left;
    } 
    .side1 {
      float: right;
    }
  }

  .profile {
    @include clearspc;
    min-width: 250px;
    width: 100%;
    display: inline-block;

    .profile_header, .profile_card {
      @media only screen and (min-width: $screen-sm-min) {
        height: 150px;
      }
    }

    .profile_image {
      display: inline-block;
      float: left;
      img {
        width: 100%;
        @media only screen and (min-width: $screen-sm-min) {
          width: 150px;
        }
        height: 100%;
      }
    }

    @media only screen and (min-width: $screen-sm-min) {
      width: 40%;
      margin: 5%;
    }

    .profile_card {
      @include clearspc;
      display: inline-block;
      width: -moz-calc(100% - 150px);
      /* WebKit */
      width: -webkit-calc(100% - 150px);
      /* Opera */
      width: -o-calc(100% - 150px);
      /* Standard */
      width: calc(100% - 150px);

      .profile_pos, .profile_name {
        text-align: left;
        width: 100%;
      }

      .profile_name {
        padding: 2rem;
        background-color: $blue-color;
        height: 100px;
        display: table;
        h2 {
          display: table-cell;
          vertical-align: middle;
          font-size: 1.2em;
          color: white;
          @media only screen and (min-width: $screen-lg-min) {
            font-size: 1.5em;
          }
          margin: auto;
          width: 100%;
        }
      }

      .profile_pos {
        text-align: left;
        padding-left: 3rem;
        display: table;
        height: 50px;
        h5 {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

  }

  #teamfooter {
    padding-top: 0.5%;
    text-align: center;
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
}